
.CourseCard {
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.CourseCard h2 a {
    color: var(--clr-neutral-800);
    text-decoration: none;
}

.CourseCard h2 a:hover, .CourseCard h2 a:focus {
    color: var(--clr-course-400);
}

.CourseCard p:not([class]) {
    --font-width: 65;
    font-size: 0.925em;
}
