@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sen:wght@400..800&display=swap');

:root {
    --section-spacing: 3.5rem;
    --clr-primary-100: #ffb199;
    --clr-primary-200: #ff8a66;
    --clr-primary-300: #ff6333;
    --clr-primary-400: #db2c00;
    --clr-primary-500: #661800;
    --clr-article-100: #9fbef9;
    --clr-article-200: #6e9ef7;
    --clr-article-300: #3e7ef4;
    --clr-article-400: #255b98;
    --clr-article-500: #062560;
    --clr-youtube-100: #f99fb6;
    --clr-youtube-200: #f66f91;
    --clr-youtube-300: #f33f6c;
    --clr-youtube-400: #dd0e42;
    --clr-youtube-500: #60061d;
    --clr-resource-100: #e3b5db;
    --clr-resource-200: #d68fc9;
    --clr-resource-300: #ba45a5;
    --clr-resource-400: #7b2d6d;
    --clr-resource-500: #381531;
    --clr-course-100: #80e5de;
    --clr-course-200: #56dcd3;
    --clr-course-300: #23a9a0;
    --clr-course-400: #1a7f78;
    --clr-course-500: #115550;
    --clr-neutral-100: white;
    --clr-neutral-200: #dedede;
    --clr-neutral-300: #cccccc;
    --clr-neutral-700: #666666;
    --clr-neutral-800: #4d4d4d;
    --clr-neutral-900: #262626;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.563rem;
    --fs-600: 1.953rem;
    --fs-700: 2.441rem;
    --fs-800: 3.052rem;
    --clr: #e12911;
}

@media only screen and (min-width: 65em) {
    :root {
        --section-spacing: 7rem;
    }
}

@media only screen and (min-width: 40em) {
    :root {
        --fs-300: 1rem;
        --fs-400: 1.25rem;
        --fs-500: 2rem;
        --fs-600: 2.827rem;
        --fs-700: 4rem;
        --fs-800: 5.653rem;
    }
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
    list-style: none;
}

/* Set core root defaults */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

* {
    font-variation-settings: "wght" var(--font-weight, 375), "wdth" var(--font-width, 80);
}

body {
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--fs-400);
    color: var(--clr-neutral-900);
    letter-spacing: -0.7px;
}

h1, h2, h3, h4 {
    --font-weight: 700;
    --font-width: 80;

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    font-stretch: 100%;
    line-height: 1.1;
    color: var(--clr-neutral-800);
}

h1 {
    --font-weight: 900;
    color: var(--clr, var(--clr-primary-400));
}

.title {
    font-size: clamp(var(--fs-600), 1rem + 5vw, 5rem);
}

.article-snippet-title {
    --font-weight: 600;
}

time + p {
    font-size: 1.25em;
    margin: 2em 0 1em !important;
}



small,
.text-small {
    font-size: var(--fs-300);
}

strong {
    --font-weight: 700;
    font-weight: normal;
}

a {
    color: var(--clr, var(--clr-primary-400));
}

a:hover, a:focus {
    color: var(--clr-primary-400);
    text-decoration: none;
}

p:not([class]),
ul:not([class]),
li:not([class]) {
    max-width: 60ch;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.text-primary-100 {
    color: var(--clr-primary-100) !important;
}

.bg-primary-100 {
    background-color: var(--clr-primary-100) !important;
}

.text-primary-200 {
    color: var(--clr-primary-200) !important;
}

.bg-primary-200 {
    background-color: var(--clr-primary-200) !important;
}

.text-primary-300 {
    color: var(--clr-primary-300) !important;
}

.bg-primary-300 {
    background-color: var(--clr-primary-300) !important;
}

.text-primary-400 {
    color: var(--clr-primary-400) !important;
}

.bg-primary-400 {
    background-color: var(--clr-primary-400) !important;
}

.text-primary-500 {
    color: var(--clr-primary-500) !important;
}

.bg-primary-500 {
    background-color: var(--clr-primary-500) !important;
}

.text-article-100 {
    color: var(--clr-article-100) !important;
}

.bg-article-100 {
    background-color: var(--clr-article-100) !important;
}

.text-article-200 {
    color: var(--clr-article-200) !important;
}

.bg-article-200 {
    background-color: var(--clr-article-200) !important;
}

.text-article-300 {
    color: var(--clr-article-300) !important;
}

.bg-article-300 {
    background-color: var(--clr-article-300) !important;
}

.text-article-400 {
    color: var(--clr-article-400) !important;
}

.bg-article-400 {
    background-color: var(--clr-article-400) !important;
}

.text-article-500 {
    color: var(--clr-article-500) !important;
}

.bg-article-500 {
    background-color: var(--clr-article-500) !important;
}

.text-youtube-100 {
    color: var(--clr-youtube-100) !important;
}

.bg-youtube-100 {
    background-color: var(--clr-youtube-100) !important;
}

.text-youtube-200 {
    color: var(--clr-youtube-200) !important;
}

.bg-youtube-200 {
    background-color: var(--clr-youtube-200) !important;
}

.text-youtube-300 {
    color: var(--clr-youtube-300) !important;
}

.bg-youtube-300 {
    background-color: var(--clr-youtube-300) !important;
}

.text-youtube-400 {
    color: var(--clr-youtube-400) !important;
}

.bg-youtube-400 {
    background-color: var(--clr-youtube-400) !important;
}

.text-youtube-500 {
    color: var(--clr-youtube-500) !important;
}

.bg-youtube-500 {
    background-color: var(--clr-youtube-500) !important;
}

.text-resource-100 {
    color: var(--clr-resource-100) !important;
}

.bg-resource-100 {
    background-color: var(--clr-resource-100) !important;
}

.text-resource-200 {
    color: var(--clr-resource-200) !important;
}

.bg-resource-200 {
    background-color: var(--clr-resource-200) !important;
}

.text-resource-300 {
    color: var(--clr-resource-300) !important;
}

.bg-resource-300 {
    background-color: var(--clr-resource-300) !important;
}

.text-resource-400 {
    color: var(--clr-resource-400) !important;
}

.bg-resource-400 {
    background-color: var(--clr-resource-400) !important;
}

.text-resource-500 {
    color: var(--clr-resource-500) !important;
}

.bg-resource-500 {
    background-color: var(--clr-resource-500) !important;
}

.text-course-100 {
    color: var(--clr-course-100) !important;
}

.bg-course-100 {
    background-color: var(--clr-course-100) !important;
}

.text-course-200 {
    color: var(--clr-course-200) !important;
}

.bg-course-200 {
    background-color: var(--clr-course-200) !important;
}

.text-course-300 {
    color: var(--clr-course-300) !important;
}

.bg-course-300 {
    background-color: var(--clr-course-300) !important;
}

.text-course-400 {
    color: var(--clr-course-400) !important;
}

.bg-course-400 {
    background-color: var(--clr-course-400) !important;
}

.text-course-500 {
    color: var(--clr-course-500) !important;
}

.bg-course-500 {
    background-color: var(--clr-course-500) !important;
}

.text-neutral-100 {
    color: var(--clr-neutral-100) !important;
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100) !important;
}

.text-neutral-200 {
    color: var(--clr-neutral-200) !important;
}

.bg-neutral-200 {
    background-color: var(--clr-neutral-200) !important;
}

.text-neutral-300 {
    color: var(--clr-neutral-300) !important;
}

.bg-neutral-300 {
    background-color: var(--clr-neutral-300) !important;
}

.text-neutral-700 {
    color: var(--clr-neutral-700) !important;
}

.bg-neutral-700 {
    background-color: var(--clr-neutral-700) !important;
}

.text-neutral-800 {
    color: var(--clr-neutral-800) !important;
}

.bg-neutral-800 {
    background-color: var(--clr-neutral-800) !important;
}

.text-neutral-900 {
    color: var(--clr-neutral-900) !important;
}

.bg-neutral-900 {
    background-color: var(--clr-neutral-900) !important;
}

.primary {
    --clr: var(--clr-primary-400);
}


.resource {
    --clr: var(--clr-resource-400);
}

.container {
    padding: 0 1.5rem;
    max-width: 62.5rem;
    margin: 0 auto;
}

.flow > * + * {
    margin-top: var(--flow-spacer, 0.75em);
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.screenreader-text {
    position: absolute;
    left: -999px;
    width: 1px;
    height: 1px;
    top: auto;
}

.screenreader-text:focus {
    display: inline-block;
    height: auto;
    width: auto;
    position: static;
    margin: auto;
}


.article-snippet-title {
    --font-weight: 750;
    font-size: var(--fs-600);
}

.article-snippet:first-of-type {
    margin-top: 5rem;
}

.article-snippet:not(:last-child) {
    position: relative;
}

.article-snippet:not(:last-child)::after {
    content: "";
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--clr-neutral-300);
    display: block;
    width: 100%;
    margin: 6rem 0;
}

time {
    --font-weight: 700;
    color: var(--clr-neutral-700);
    text-transform: uppercase;
    font-size: 0.8em;
}

.button {
    display: inline-block;
    border: 0;
    --font-weight: 500;
    font-size: var(--fs-300);
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.04em;
    padding: 0.95em 1.75em 0.85em;
    cursor: pointer;
    color: var(--clr-neutral-100);
    background-color: var(--clr, var(--clr-primary-400));
    border-radius: 100vw;
    box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    transform: scale(1);
    transition: transform 200ms ease;
    position: relative;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0;
    z-index: -1;
    transition: opacity 200ms ease;
    box-shadow: 0 0.5em 1.25em black;
    border-radius: inherit;
}

.button:hover, .button:focus {
    transform: scale(1.05) translateY(-0.125em);
    color: var(--clr-neutral-100);
}

.button:hover::before, .button:focus::before {
    opacity: 0.3;
}

.button[data-reverse=true] {
    background-color: var(--clr-neutral-100);
    color: var(--clr, var(--clr-primary-400));
}

.label {
    --font-weight: 350;
    display: inline-block;
    font-size: var(--fs-300);
    color: var(--clr-neutral-800);
    width: max-content;
    margin-top: 0;
    margin-right: 0.25em;
}

.label + .label::before {
    display: inline-block;
    content: "";
    border-left: 2px solid var(--clr-neutral-800);
    opacity: 0.25;
    padding-left: 0.25em;
    height: 1.25ex;
}

pre {
    border-radius: 0.25em;
}

.pagination {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 25rem;
    justify-content: space-between;
}

.pagination a {
    color: var(--clr-neutral-800);
}

.pagination a:hover, .pagination a:focus {
    color: var(--clr-primary-400);
    text-decoration: none;
}

.current-page {
    --font-weight: 750;
    background-color: var(--clr);
    color: var(--clr-neutral-100) !important;
    width: 2.5ch;
    height: 2.5ch;
    border-radius: 100%;
    display: grid;
    place-items: center;
    text-decoration: none;
    pointer-events: none;
}


body::-webkit-scrollbar {
    width: 1rem;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--clr-neutral-300);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--clr-neutral-900);
    /* color of the scroll thumb */
}

iframe {
    aspect-ratio: 16/9;
    max-width: 100%;
    height: 100%;
}


.course-grid {
    display: grid;
    gap: 2rem;
    grid-template-rows: masonry;
    align-items: start;
    margin: 6rem calc(30% - 30vw);
    padding: 0 1rem;
}

@media (min-width: 27em) {
    .course-grid {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    }
}

.course-card {
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.1);
}

.course-card h2 a {
    color: var(--clr-neutral-800);
    text-decoration: none;
}

.course-card h2 a:hover, .course-card h2 a:focus {
    color: var(--clr-course-400);
}

.course-card p:not([class]) {
    --font-width: 65;
    font-size: 0.925em;
}

.resource *:target {
    border-bottom: 0.25em solid var(--clr);
    max-width: max-content;
}

.primary-footer {
    font-size: var(--fs-300);
    color: var(--clr-neutral-800);
    margin-top: 2rem;
    padding: 3rem;
    background-color: var(--clr-neutral-200);
    text-align: center;
}

.primary-footer p {
    margin-left: auto;
    margin-right: auto;
}

.primary-footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 2rem;
    padding: 0;
}

.primary-footer li + li {
    margin-left: 1rem;
}

.primary-footer a {
    --font-weight: 750;
    --font-width: 50;
    color: inherit;
}

.primary-footer a:hover, .primary-footer a:focus {
    color: var(--clr-primary-400);
    text-decoration: none;
}

.thanks {
    font-size: 2rem;
}

.thanks strong {
    --font-weight: 700;
}

.letter-thanks {
    margin-top: 1rem;
}