.Header {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.PrimaryNav {
    --font-weight: 600;
    --font-width: 80;
    padding: 2rem 0;
    background: white;
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.1);
    margin-bottom: var(--fs-800);
}

.PrimaryNav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: var(--fs-300);
}

.PrimaryNav ul > * {
    padding: 0.5em;
    margin: 0 0.5em;
}

.PrimaryNav li:nth-child(1) {
    --clr: var(--clr-primary-400);
}

.PrimaryNav li:nth-child(2) {
    --clr: var(--clr-article-400);
}

.PrimaryNav li:nth-child(3) {
    --clr: var(--clr-youtube-400);
}

.PrimaryNav li:nth-child(4) {
    --clr: var(--clr-course-400);
}

.PrimaryNav li:nth-child(5) {
    --clr: var(--clr-resource-400);
}

.PrimaryNav li.active a {
    text-decoration-thickness: 0.25em;
}

.PrimaryNav a {
    color: var(--clr, var(--clr-primary-400));
    text-underline-offset: 0.25em;
    text-decoration-thickness: 0.125em;
}

.PrimaryNav a:hover, .PrimaryNav a:focus {
    color: var(--clr-neutral-900);
}